<p id="notice"><%= notice %></p>

<h1>Blog一覧</h1>

<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>id</th>
      <th>タイトル</th>
      <th>内容</th>
      <th colspan="3">コンテンツ操作</th>
    </tr>
  </thead>

  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td class="col-xs-1"><%= blog.id %></td>
        <td class="col-xs-2"><%= blog.title %></td>
        <td class="col-xs-6"><%= blog.content %></td>
        <td class="col-xs-1"><%= link_to '参照', blog, class: "btn btn-primary" %></td>
        <td class="col-xs-1"><%= link_to '編集', edit_blog_path(blog), class: "btn btn-primary color-white" %></td>
        <td class="col-xs-1"><%= link_to '削除', blog, method: :delete, class: "btn btn-danger", data: { confirm: '本当に削除してよろしいですか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規作成', new_blog_path %>


